data
caches
.cache
logs
zzz*
*.pyc
local
.DS_Store
.venv
.env
secret.py
__pycache__
.nfs*
datasets/dataset_wildchat.csv.gz

/datasets/medical/mtsamples_procedures/
/datasets/medical/mimic_rrs/
/datasets/medical/pubmed_qa/
OUT/
/results